{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "quoteProps": "as-needed",
  "endOfLine": "auto",
  "bracketSpacing": true
}
